#-----------------------------------------------------
# We maintain some ~/.config/* directories in the repo
# but some (like vim) are injected from other sources.
# Ignore these.

*/dot-config/vim
*/dot-config/git
*/dot-config/gh
*/dot-config/uv

#-----------------------------------------------------
.venv
__pycache__/
*.py[cod]
*$py.class
venv
.eggs
.pytest_cache
*.egg-info
.DS_Store
uv.lock
auth.json
build
dist
*.log
_hide
.hide
*.hide
